/*
  ========================================
  body
  quicksand, Calibri -> paragraphs
  Nunito,Arial -> lighter paragraphs
  cabin -> Headers

  font-family: 'Quicksand', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Nunito', sans-serif;

Cabin:400i|Nunito:300i|Quicksand:300,400
  ========================================
*/

body{
    background-color: #F6F8EA;
    color: #50514F;
    font-family: 'Quicksand', Arial, sans-serif;
}

h2{
    font-family: 'Cabin', Helvetica, sans-serif;
    font-size: 35px;
    /*text-transform: uppercase;*/
    text-align: center;
    padding-bottom: 20px;
    letter-spacing: 1.5px;
}

p{
    font-size: 14px;
    letter-spacing: 1.1px;
    line-height: 20px;
}

.highlight{
    color: #348BAA;
    font-size: 1.1em;
}


/*
  ========================================
  Nav-top
  ========================================
*/

nav.navbar-fixed-top{
    /*background-color: #D6F49D;*/
    background: rgba(246,248,234, 0.1);
    -webkit-box-shadow: -2px 13px 27px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 13px 27px -13px rgba(0,0,0,0.75);
    box-shadow: -2px 13px 27px -13px rgba(0,0,0,0.75)
}


#dropdown-items{
    font-size: 17px;
    background-color: rgba(246,248,234,1);
}

#dropdown-items>ul li:hover{
    color: #348BAA;
    background-color: #CBEFDD;
}

/*.navbar-default .navbar-nav>.active>a {
    background-color: rgba(0, 0, 0, .1);
}*/

body nav.navbar-fixed-top>.container{
    background-color: rgba(255,255,255, 0.1);    
}


.custom-active{
    /*background-color: rgba(0, 0, 0, .1);*/
    background-color: rgba(203, 239, 221, 1);    
        
}

.navigation-float{
    float: right;
}

/*
  ========================================
  Home
  ========================================
*/

#home{
    background-image: url(https://images.unsplash.com/photo-1487581063035-1e15e9161b5c?dpr=1.25&auto=format&fit=crop&w=1080&h=1518&q=80&cs=tinysrgb&crop=&bg=);
    background-position: 10% 20%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 40px;
    /*This makes the div the size of the view port
    courtesy of http://stackoverflow.com/questions/1575141/make-div-100-height-of-browser-window
    */
    height:100vh;
}
#home h1{
    padding-top: 150px;
    width: 70%;
    left: 0;
    font-family: 'Cabin', Helvetica, sans-serif;
    font-size: 50px;
    line-height: 65px;
    letter-spacing: 1.6px;
}

#home button{
    background: rgba(0, 0, 0, 0);
    margin-top: 10px;
    padding: 10px 35px;
    font-size: 20px;
    letter-spacing: .5px;
    font-weight: bold;
    border: 2px solid #50514F;
    color: #50514F;
}

#home button:hover{
    background: rgba(254, 254, 254, .8);
}

/*
  ========================================
  Profile
  ========================================
*/

#profile{
    background: #F6F8EA;
}

#profile header.profile-top{
    padding: 180px 50px;
    padding-top: 130px;
}

#profile header p{
    display: inline-block;
    text-align: center;
    font-size: 23px;
    line-height: 30px;
    letter-spacing: 2px;
    padding: 5px 15%;
}


/***********round profile image*********/
div#profile-2 {
    background: #B2EFD1;
    padding-bottom: 100px;
}

.profile-img-div{
    text-align: center;
}

#profile-2 .profile-img{
    position: relative;
    top: -100px;

}

#profile-2 header img{
    height: 200px;
    border: 4px #fefefe solid;
    border-radius: 50%
}


#profile-2 header img:hover{
    /*animation: colorchange;*/
    border: 4px #348BAA solid;
    transition: border .5s;
}

section header.icons{
    font-size: 40px;
    text-align: center;
    padding: 0 0;
}

section header.icons i{
    border: 2px rgba(0, 0, 0, 0) solid;
    padding: 30px;
    border-radius: 50%;
}

section.panel-section:hover header i {
    border: 2px #348BAA solid;
    color: #348BAA;
    transition: border .5s

}

.panel-contents {
     text-align: center;
     padding-top: 20px;
     line-height: 25px;
 }

.panel-contents>h3{
    letter-spacing: .5px;
    font-size: 23px;
}

.panel-contents p{
    padding: 20px 0;
    font: 14px 'Nunito', sans-serif;
    line-height: 27px;
}

/*
  ========================================
  Profile
  ========================================
*/